rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ログイン状況の確認
    function isAuthenticated() {
        return request.auth != null;
    }

    // 所有者確認
    function isOwner(userID) {
        return isAuthenticated() && userID == request.auth.uid;
    }

    match /Service/{serviceID} {
      allow read, update, delete: if isOwner(resource.data.userID)
      allow create: if isOwner(request.resource.data.userID)
    }

    match /User/{userID} {
      // stripe指定のルール
      allow read: if request.auth.uid == userID;
      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == userID;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == userID;
      }
    }

    // stripe指定のルール
    match /Products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }

    match /Report/{reportID} {
      allow read, update, delete: if isOwner(resource.data.userID)
      allow create: if isOwner(request.resource.data.userID)

      match /Service/{reportServiceID} {
        allow read, write: if isOwner(get(/databases/$(database)/documents/Report/$(reportID)).data.userID)
      }
    }
  }
}